.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.container .small_font {
    font-size: 15px;
    line-height: 14px;
}
.container .page__content a {
    text-decoration: underline;
    color: #0a3d88;
}
